#video, #image {
	height: auto; 
    width: auto; 
    max-width: 800px; 
    max-height: 600px;
}

h1 {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 40px;
	margin-left: -10px;
	padding-right: 40px;
/*	width: 300px;
*/    display: inline;
	align: center;
	font-family: sans-serif;
	font-weight: lighter;
	background-color: rgba(236, 240, 241,0.5);
}

.hidden {
	display: none;
}